<div class="p-5 mb-4 mt-3 bg-light rounded-3">
  <div class="container-fluid py-3">
    <h1 class="display-5 fw-bold">
      <%= gettext("Crawler - Su T.'s Elixir IC") %>
    </h1>
    <div class="pt-5">
      <%= link(gettext("Register"),
        to: Routes.user_registration_path(@conn, :new),
        class: "btn btn-primary btn-lg"
      ) %>
    </div>
  </div>
</div>
